[submodule "third-party/LuaThreading"]
	path = third-party/LuaThreading
	url = https://github.com/dankmolot/LuaThreading
[submodule "third-party/pocketlzma"]
	path = third-party/pocketlzma
	url = https://github.com/SSBMTonberry/pocketlzma.git
